{% extends 'base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/agregarStyle.css') }}">
{% endblock %}

{% block head %}{% endblock %}

{% block body %}
<div class="main-container">
    {% if errores %}
        <div class="error-message">
            {{ errores }}
        </div>
    {% endif %}
    <form name="myForm" method="post" enctype="multipart/form-data">
        <h2>Informa de una nueva actividad</h2>

        <h3>¿Dónde?</h3>

        <label for="select-region">Región</label>
        <select name="select-region" id="select-region" required>
            <option value="">Selecciona una región</option>
            {% for region in regiones %}
                <option value="{{ region.id }}">{{ region.nombre }}</option>
            {% endfor %}
        </select>

        <label for="select-comuna">Comuna</label>
        <select name="select-comuna" id="select-comuna" required>
            <option value="">Selecciona una comuna</option>
            {% for comuna in comunas %}
                <option value="{{ comuna.id }}" data-region-id="{{ comuna.region_id }}">{{ comuna.nombre }}</option>
            {% endfor %}
        </select>

        <label for="sector">Sector</label>
        <input type="text" id="sector" name="sector" maxlength="100">

        <h3>¿Quién organiza?</h3>

        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" maxlength="200" required>

        <label for="email">Email</label>
        <input type="email" name="email" id="email" maxlength="100" placeholder="ejemplo@correo.com" required>

        <label for="phone">Número de celular</label>
        <input type="tel" name="phone" id="phone" minlength="8" placeholder="+NNN.NNNNNNNN">

        <div class="checkbox-form">

            <h4>Contactar por:</h4>

            <label for="whatsapp">Whatsapp</label>
            <input type="checkbox" id="whatsapp" name="contacto" value="whatsapp" class="contact-checkbox"><br>
            <div class="contact-input" id="input-whatsapp" style="display:none;">
                <input type="text" name="whatsapp_contact" placeholder="Contacto Whatsapp" minlength="4" maxlength="50">
            </div>
            
            <label for="telegram">Telegram</label>
            <input type="checkbox" id="telegram" name="telegram" value="telegram" class="contact-checkbox"><br>
            <div class="contact-input" id="input-telegram" style="display:none;">
                <input type="text" name="telegram_contact" placeholder="Contacto Telegram" minlength="4" maxlength="50">
            </div>

            <label for="x">X</label>
            <input type="checkbox" id="x" name="x" value="x" class="contact-checkbox"><br>
            <div class="contact-input" id="input-x" style="display:none;">
                <input type="text" name="x_contact" placeholder="Contacto X" minlength="4" maxlength="50">
            </div>

            <label for="instagram">Instagram</label>
            <input type="checkbox" id="instagram" name="instagram" value="instagram" class="contact-checkbox"><br>
            <div class="contact-input" id="input-instagram" style="display:none;">
                <input type="text" name="instagram_contact" placeholder="Contacto Instagram" minlength="4" maxlength="50">
            </div>

            <label for="tiktok">TikTok</label>
            <input type="checkbox" id="tiktok" name="tiktok" value="tiktok" class="contact-checkbox"><br>
            <div class="contact-input" id="input-tiktok" style="display:none;">
                <input type="text" name="tiktok_contact" placeholder="Contacto TikTok" minlength="4" maxlength="50">
            </div>

            <label for="otro">Otro</label>
            <input type="checkbox" id="otro" name="otro" value="otro" class="contact-checkbox"><br>
            <div class="contact-input" id="input-otro" style="display:none;">
                <input type="text" name="otro_contact" placeholder="Contacto" minlength="4" maxlength="50">
            </div>

        </div>

        <h3>¿Cuándo y de qué trata?</h3>

        <label for="fecha-inicio">Día y hora de inicio</label>
        <input type="datetime-local" id="fecha-inicio" name="fecha-inicio" required>

        <label for="fecha-termino">Día y hora de termino</label>
        <input type="datetime-local" id="fecha-termino" name="fecha-termino">

        <label for="descripcion">Descripción</label>
        <textarea id="descripcion" name="descripcion" rows="10" cols="50"></textarea>

        <label>Tema</label>
        <div class="temas-checkboxes">
            <label><input type="checkbox" name="tema" value="musica"> Música</label>
            <label><input type="checkbox" name="tema" value="deporte"> Deporte</label>
            <label><input type="checkbox" name="tema" value="ciencias"> Ciencias</label>
            <label><input type="checkbox" name="tema" value="religion"> Religión</label>
            <label><input type="checkbox" name="tema" value="politica"> Política</label>
            <label><input type="checkbox" name="tema" value="tecnologia"> Tecnología</label>
            <label><input type="checkbox" name="tema" value="juegos"> Juegos</label>
            <label><input type="checkbox" name="tema" value="baile"> Baile</label>
            <label><input type="checkbox" name="tema" value="comida"> Comida</label>
            <label><input type="checkbox" name="tema" value="otro" id="tema-otro"> Otro</label>
        </div>

        <div id="otro-tema-container" style="display: none;">
            <label for="otro-tema">Especifica el tema</label>
            <input type="text" name="otro-tema" id="otro-tema" placeholder="Ingresa el tema" minlength="3" maxlength="15">
        </div>

        <label for="files">Subir imagen (máx 5)</label>
        <div id="file-inputs">
            <input type="file" id="files" name="files" class="file-input" accept="image/*" required>
        </div>
        <button type="button" id="add-file-btn">Agregar otra imagen</button>

        <button id="submit-btn" type="button">Agregar esta actividad</button>

        <div id="val-box" hidden>
            <h2 id="val-msg"></h2>
            <ul id="val-list"></ul>
        </div>
        
    </form>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/validations.js') }}"></script>
<script src="{{ url_for('static', filename='js/agregarScript.js') }}"></script>
{% endblock %}
