{% extends 'base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/estadisticasStyle.css') }}">
{% endblock %}

{% block body %}
<div>
    <div id="graficos"></div>
    <div id="grafico-torta" style="margin-top: 40px;"></div>
    <div id="grafico-barras" style="margin-top: 40px;"></div>
</div>
{% endblock %}

{% block javascript %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="{{ url_for('static', filename='js/estadisticasScript.js') }}"></script>
{% endblock %}
